[submodule "angularplasmid"]
	path = angularplasmid
	url = git@github.com:ProfFan/angularplasmid.git
[submodule "genbank-parser"]
	path = genbank-parser
	url = https://github.com/ProfFan/genbank-parser.git
